:root {
    --max-width: 1250px;
    --default-padding: 30px;
    --primary-color: #ED3338;
    --secondary-color: #121921;
}

@media screen and (max-width: 330px) {
    :root {
        --default-padding: 20px;
    }
}