html::-webkit-scrollbar-track {
  background-color: #bcbcbc;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
    color: #333;
}
body * {
  font-family: Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
  font-weight: 900;
}
h5 {
  font-size: 21px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 500;
}

.loader {
  background-color: #f8f8f8;
}
.loader-icon {
  border-top: 2px dotted var(--primary-color);
  border-right: 2px dotted var(--primary-color);
  border-radius: 50%;
  animation: loading 1s infinite linear;
}

.hoverable-icon {
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: all 200ms;
}
.main-header {
  background-color: #fff;
  border-bottom: 1px solid #333 solid #ddd;
}
.main-nav>.badge {
  color: white;
  background-color: var(--primary-color);
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
}
.hero-order {
  background: linear-gradient(90deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), var(--primary-color) url(../images/bg4.jpg) center center/cover no-repeat;
}
.hero-order * {
  color: white;
  text-decoration: none;
}
.hero-order hr {
  background-color: var(--primary-color);
  border: 0;
}
.contact-info a {
  font-size: 16px;
  text-transform: capitalize;
}
.score .col-1>h5 {
  text-align: right;
  font-size: 18px;
}
.score .col-1>h5>span {
  font-size: 12px;
}
.score .col-2 {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.sticky-header {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(9 30 66 / 13%);
}
.sticky-header button {
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  transition: all 200ms;
  background-color: #fff;
}
.sticky-header button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
button.starters, button.main_meal, button.desserts {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
button.starters:hover, button.main_meal:hover, button.desserts:hover {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.order .col-1 {
  /* background-color: red; */
}
.order .col-2 {
  /* background-color: green; */
}
.order .item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  text-transform: capitalize;
}
.order .item h5 {
  font-weight: 600;
}
.order .item>header {
  color: white;
  /* other properties are set in item.js */
  background-color: var(--primary-color);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-size 200ms linear;
}
.order .item>header:hover {
  background-size: 110%;
  background-position: center center;
}
.item-price>label {
  font-size: 16px;
  font-weight: 600;
}
.item-price>label::before {
  content: '₦ ';
}
.cartCounter>span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.cartCounter>button {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #f8f8f8;
  transition: all 200ms;
}
.cartCounter>button:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}
.cartCounter>button:active {
  transform: scale(0.9);
}

.orderForm {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.orderForm>header {
  background-color: var(--secondary-color);
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.orderForm>header>span {
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 12px;
}
.orderForm p {
  text-align: center;
  font-size: 16px;
}
.orderForm .total-price {
  font-size: 14px;
  font-weight: 600;
}
.orderForm .total-price>h4:last-of-type::before {
  content: '₦ ';
}
.orderForm input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: 0;
  color: #333;
}
.orderForm input::placeholder {
  color: #333;
}
.orderForm input:focus {
  border-color: var(--primary-color);
}
.orderForm .fbtn-1 {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  outline: 0;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.orderForm .fbtn-2 {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
}
.loading {
  border-radius: 50%;
  border: 2px dotted white;
  border-right: 0;
  border-bottom: 0;
}
.cart-item {
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}
.cart-item>.image {
  background-color: var(--secondary-color);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.cart-item>.col-2>span:first-of-type {
  font-size: 14px;
}
.cart-item>.col-2>span:last-of-type {
  font-size: 12px;
}
.cart-item>.col-3>span {
  font-size: 14px;
  font-weight: 700;
}
.price {
  
}
.price::before {
  content: '₦';
}

.main-footer {
  background-color: var(--secondary-color);
}
.main-footer .links {
  border-bottom: 1px dashed #bcbcbc;
}
.links-container>header {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.links-container>button, .links-container>a {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  transition: all 200ms;
}
.links-container>button:hover, .links-container>a:hover {
  color: white;
}
.links-container>button::before {
  content: "> ";
}
.main-footer .col-2>button {
  color: #bcbcbc;
  background-color: transparent;
  border: 0;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 60px;
  }
  h5 {
      font-size: 19px;
  }
  .score .col-1>h5 {
      text-align: left;
      font-size: 17px;
  }
  .mobile-cart>button {
      border-radius: 50%;
      border: 0;
      outline: 0;
      box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
      font-weight: 600;
      background-color: var(--primary-color);
      color: white;
  }
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 50px;
    }
    h5 {
        font-size: 17px;
    }
    .contact-info a {
        font-size: 14px;
    }
    .score .col-1>h5 {
        font-size: 15px;
    }
    .sticky-header button {
        font-size: 13px;
    }
}

  @media screen and (max-width: 330px) {
    .sticky-header button {
        font-size: 11px;
    }
}